<header>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid bd-highlight">
            <a class="navbar-brand p-2 bd-highlight" href="home">WebsiteTitle</a>
            <form class="d-flex p-2 bd-highlight">
                <input class="form-control me-2" type="search" placeholder="Search for artist" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <div class="d-flex ms-auto p-2 bd-highlight">
                <a class="btn btn-outline-light"
                    href="https://uwyo-fullstacktestwebsite.auth.us-east-2.amazoncognito.com/login?response_type=token&client_id=4j84detup3mbvjsv0n88pvb32p&redirect_uri=http://localhost:4200/inputforum/"
                    role="button">Login</a>
            </div>
        </div>

    </nav>
</header>